.comments {
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-size: 0.77rem;
	box-sizing: border-box;
	background-color: #ffffff;
	max-width: 980px;
	margin: 0 auto;
	padding-left: 5%;
	padding-top: 4em;
	padding-right: 20%;
	padding-bottom: 4em;
}

.comment {
	position: relative;
	padding-left: 4em;
	margin-bottom: 1.75em;
}

.comment--level2 {
	margin-left: 2em;
}

.comment__avatar {
	position: absolute;
	left: 0;
	top: 0;
	width: 3em;
	height: 3em;
	border-radius: 0.2em;
	overflow: hidden;
}

.comment__avatar-image {
	width: 3em;
	height: 3em;
}

.comment__header {
	margin-bottom: 0.35em;
}

.comment__author,
.comment__author:visited {
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-size: 0.88rem;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	margin: 0;
	vertical-align: middle;
}

.comment__author:active,
.comment__author:hover {
	text-decoration: underline;
}

.comment__datetime {
	font-family: "Roboto", sans-serif;
	color: #999999;
	font-size: 0.66rem;
	font-weight: 300;
	text-align: left;
	margin-left: 1.25em;
	vertical-align: middle;
}

.comment__text {
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-size: 0.77rem;
	font-weight: 400;
	line-height: 1.3;
	text-align: left;
	margin: 0;
}

.comment__rating {
	position: absolute;
	right: -1.2em;
	top: 1.5em;
	font-family: "Roboto", sans-serif;
	color: #bcbcbc;
	font-size: 0.88rem;
	font-weight: 700;
}

.comment__rating--plus {
	color: #26bc1b;
}

.comment__rating--minus {
	color: #e44040;
}

.comment__reply-link {
	font-family: "Roboto", sans-serif;
	color: #999999;
	font-size: 0.77rem;
	text-decoration: none;
	border-bottom: 1px dotted;
	display: inline-block;
	margin-top: 0.8em;
}

.poclog {
	font-family: "Roboto", sans-serif;
	color: #a8a8a8;
	font-size: 0.77rem;
	font-weight: 400;
	display: inline-block;
	margin-left: 6em;
	margin-bottom: 0.7em;
	padding-left: 1.5em;
	background: url("../i/icon-reply.svg") no-repeat left center;
	background-size: 1em 1em;
}

.comments__add-form {
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-size: 0.77rem;
	margin-top: 2.5em;
	position: relative;
	padding-left: 4em;
}

.add-form__header {
	display: none;
}

.add-form__text {
	box-sizing: border-box;
	width: 100%;
	height: 10em;
	border-radius: 2px;
	resize: none;
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-size: 0.77rem;
	font-weight: 400;
	line-height: 1.3;
	text-align: left;
}

.add-form__submit {
	border-radius: 2px;
	background-color: #13b04b;
	padding: 0.5em 1.1em;
	border: none;
	font-family: "Roboto", sans-serif;
	color: #f6f6f6;
	font-size: 0.77rem;
	font-weight: 400;
	margin-top: 0.7em;
}

.add-form__attach {
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	margin-left: 1.5em;
	vertical-align: middle;
}

.add-form__attach--image {
	background: url("../i/icon-image.svg") no-repeat center center;
}

.add-form__attach--video {
	background: url("../i/icon-video.svg") no-repeat center center;
}

@media all and (max-width: 828px) {
	.comments {
		font-size: 1.5rem;
		padding: 1.25em 0;
		margin: 0;
	}
	
	.comment {
		padding-left: 4.5em;
		padding-right: 4%;
		margin-bottom: 1.6em;
	}

	.comment--level2 {
		margin-left: 8%;
	}

	.comment__avatar {
		position: absolute;
		left: 4%;
		top: 0;
		width: 2.6em;
		height: 2.6em;
		border-radius: 50%;
		overflow: hidden;
	}

	.comment__avatar-image {
		width: 2.6em;
		height: 2.6em;
	}

	.comment__header {
		margin-bottom: 0.7em;
	}

	.comment__author,
	.comment__author:visited {
		font-size: 1.55rem;
	}

	.comment__datetime {
		font-size: 1.22rem;
		margin-left: 0.9em;
	}

	.comment__text {
		font-size: 1.55rem;
		line-height: 1.1;
	}

	.comment__rating {
		right: 1em;
		top: 0;
		font-size: 1.55rem;
	}

	.comment__reply-link {
		font-size: 1.55rem;
		margin-top: 0.8em;
	}

	.poclog {
		font-size: 1.55rem;
		margin-left: 5em;
		margin-bottom: 0.7em;
		padding-left: 1.6em;
		background-size: 0.8em 0.8em;
	}
	
	.comments__add-form {
		font-size: 1.55rem;
		margin-top: 1.25em;
		padding: 1em;
		border-top: 1px solid #ebebeb;
	}
	
	.comments__add-form > .comment__avatar {
		display: none;
	}
	
	.add-form__header {
		display: block;
		font-family: Roboto;
		color: #999999;
		font-size: 1.55rem;
		font-weight: 700;
		margin-bottom: 1em;
	}

	.add-form__text {
		height: 7em;
		font-size: 1.55rem;
		line-height: 1.1;
	}

	.add-form__submit {
		border-radius: 4px;
		padding: 0.5em 0.8em;
		font-size: 1.55rem;
		margin-top: 1em;
	}

	.add-form__attach {
		display: inline-block;
		width: 1.3em;
		height: 1.3em;
		margin-left: 2em;
	}

	.add-form__attach--image {
		background: url("../i/icon-image.svg") no-repeat center center;
	}

	.add-form__attach--video {
		background: url("../i/icon-video.svg") no-repeat center center;
	}
}
